# pyproject.toml
[tool.black]
line-length = 100
target-version = ["py312"]

[tool.isort]
profile = "black"
line_length = 100
known_first_party = []
combine_as_imports = true

[tool.ruff]
target-version = "py312"
line-length = 100
# select = ["E","F","I","UP","B","SIM","RET"]
# ignore = ["E501"]
fix = true

[tool.mypy]
python_version = "3.12"
strict = true
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = true
plugins = []
